<%= form_for(worktime) do |f| %>
  <% if worktime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worktime.errors.count, "error") %> prohibited this worktime from being saved:</h2>

      <ul>
      <% worktime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %>
    <%= f.number_field :user %>
  </div>

  <div class="field">
    <%= f.label :project %>
    <%= f.number_field :project %>
  </div>

  <div class="field">
    <%= f.label :start_at %>
    <%= f.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= f.label :end_at %>
    <%= f.datetime_select :end_at %>
  </div>

  <div class="field">
    <%= f.label :breaktimes %>
    <%= f.number_field :breaktimes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
