<p id="notice"><%= notice %></p>

<h1>Worktimes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Breaktimes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worktimes.each do |worktime| %>
      <tr>
        <td><%= worktime.user %></td>
        <td><%= worktime.project %></td>
        <td><%= worktime.start_at %></td>
        <td><%= worktime.end_at %></td>
        <td><%= worktime.breaktimes %></td>
        <td><%= link_to 'Show', worktime %></td>
        <td><%= link_to 'Edit', edit_worktime_path(worktime) %></td>
        <td><%= link_to 'Destroy', worktime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worktime', new_worktime_path %>
